/* Сброс базовых стилей */

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

body, html {
    height: 100%
}

/* Основная часть */

.main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4e4e4e;
}

.container {
    background-color: #414040;
    border-radius: 20px;
}

.calculator {
    font-size: 32px;
    color: #d3cece;
    border-radius: 20px;
}

.calculator__return {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100px;
    margin: 0px 10px 0px 0px;
}

.calculator__buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 0px 10px 10px 10px;
}

.button {
    width: 100px;
    height: 100px;
    background-color: #555251;
    border-radius: 20px;
}

.button:hover {
    transform: scale(1.06);
    transition: 0.3s;
}

.button__gray1 {
    background-color: #797676;
}

.button__gray2 {
    background-color: #333131;
}

.button__ce {
    background-color: #2b2a2a;
}

/* Медиа-запросы */

@media (max-width: 500px) {
    
    .button {
        width: 70px;
        height: 70px;
        border-radius: 12px;
    }

    .calculator__return {
        height: 70px;
    }

    .calculator {
        font-size: 24px;
        border-radius: 12px;
    }

}